<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IbexConfig.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>IbexMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IbexMacOgre3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IbexMacRelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IbexMacReleaseVLC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C09378D17B1F9CE004EA291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0D589416AD656A007BC9CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0E54A818866A8E0027940B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0E54C218866A8F0027940B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6B99D216F4C17E00C5C725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB79865168AB41E00EF5260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
